@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin headline-font {
  font-size: $size-title;
  line-height: $height-title;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@mixin button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: $color-accent;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-accent--hover;
  }

  &:active {
    background-color: $color-accent--active;
    color: rgba($color-link, 30%);
  }
}
