$color-accent: #81b3d2;
$color-accent--hover: #669ec0;
$color-accent--active: #5496bd;
$color-muted: #eeeeee;

$text-color: #000000;
$text-color--accent: #ffffff;

$color-link: #ffffff;
$color-link--active: rgba(255, 255, 255, 0.3);
