html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $font-base;
  font-size: $font-size--normal;
  font-weight: 400;
  line-height: $line-height--normal;

  margin: 0;
  padding: 0;

  color: $text-color;
}

@media (min-width: $descktop-width) {
  body {
    width: 1200px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
