.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: 500px;
  }
}

.advantages__headline {
  @include headline-font;
}

.advantages__description {
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
}
