.details {
  @include list-reset;
  color: $text-color;
  background-color: #ffffff;

  &__title {
    @include headline-font;
    text-align: left;
  }

  &__description {
    text-transform: uppercase;
  }
}
