.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 158px;
}

@media (min-width: $descktop-width) {
  .intro {
    min-height: 291px;
  }
}

@media (min-width: $descktop-width) {
  .intro {
    min-height: 300px;
  }
}
