.main-footer {
  display: flex;
  flex-direction: column;

  width: 320px;
  min-height: 243px;
  margin: 0 auto;

  justify-content: space-between;
}

.main-footer__title {
  @include headline-font;
  font-size: 21px;
}

.main-footer__developerment {
  @include headline-font;

  font-size: $font-size--normal;

  padding-right: 39px;
}


@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;

    width: 640px;
    min-height: 120px;
  }
}

@media (min-width: $descktop-width) {
  .main-footer {
    width: 1112px;
  }

  .main-footer__title {
    margin-left: 86px;
  }
}
