.main-footer {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;

    width: 640px;
    min-height: 120px;
    margin: 0 auto;
  }
}

@media (min-width: $descktop-width) {
  .main-footer {
    width: 100%;
  }
}

.main-footer__title {
  @include headline-font;
  font-size: 21px;
}

.main-footer__developerment {
  width: 140px;
  margin: 0 auto;
  padding-right: 39px;
}
