.photo {
  &__headline {
    @include headline-font;
  }

  &__description {
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    @include list-reset;
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__button-like {
    border: none;
    background-color: transparent;
  }

  &__like-counter {
    font-weight: 700;
  }
}
