.service-offer__title {
  @include headline-font;
  font-size: 21px;
}

.service-offer__description {
  text-align: center;
  text-transform: uppercase;
}

.service-offer__button {
  display: block;
  font-size: 21px;
  line-height: 26px;
}
