.service-offer {
  width: 280px;
  min-height: 289px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .service-offer {
    width: 460px;
    min-height: 318px;
    margin: 0 auto;
  }
}

@media (min-width: $descktop-width) {
  .service-offer {
    min-height: 331px;
  }
}

.service-offer__title {
  @include headline-font;
  font-size: 21px;
}

.service-offer__description {
  text-align: center;
  text-transform: uppercase;
}

.service-offer__button {
  display: block;

  font-size: 21px;
  line-height: 26px;
}
