.site-list {
  @include list-reset;
  @include headline-font;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    font-size: $font-size--normal;
    line-height: $line-height--normal;
  }
}

.site-list__item {
  @include button;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #000000;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    width: 154px;
    height: 56px;
    background-color: $color-wite;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-wite;
    }
  }
}

@media (min-width: $descktop-width) {
  .site-list__item {
    width: 240px;
  }
}

.site-list__link {
  color: $color-link;

  &:hover,
  &:focus {
    color: $color-link;
  }

  &:active {
    color: $color-link--active;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link {
    color: $link-black;

    &:hover,
    &:focus {
      color: $link-blue--light;
    }

    &:active {
      color: $link-gray--light;
    }
  }
}
