.user-info__input-text,
.user-info__input-tel,
.user-info__input-email {
  @include headline-font;
  font-family: inherit;
  background-color: $color-gray;
  text-align: left;

  &:hover::placeholder,
  &:hover::placeholder,
  &:hover::placeholder {
    background-color: $color-gray--strong;
  }

  &:active::placeholder,
  &:active::placeholder,
  &:active::placeholder {
    background-color: $color-wite;
  }
}

.user-info__label {
  line-height: $height-title;
  text-transform: uppercase;
}
